 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /* Utilities */
 .container {
   width: 100%;
   padding-right: 3rem;
   padding-left: 3rem;
   margin-right: auto;
   margin-left: auto;
 }

 .small-container {
  width: 100%;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-right: auto;
  margin-left: auto;
}

 .Poppins {
   font-family: 'Poppins', sans-serif;
 }

 .Lato {
   font-family: 'Lato', sans-serif;
 }

 .Roboto {
   font-family: 'Roboto', sans-serif;
 }

 .Nunito-sans {
   font-family: 'Nunito Sans', sans-serif;
 }

 .Montserrat {
  font-family: 'Montserrat', sans-serif;
 }

 .bg-white {
   background-color: white !important;
 }

 .bg-primary {
   background-color: #4274FF !important;
 }

 .text-dark {
   color: #000 !important;
 }

 .d-none {
   display: none;
 }

 @media screen and (max-width: 1000px) {
  .d-none-mobile {
    display: none !important;
  }
 }

 @media screen and (min-width: 1001px) {
  .d-none-dekstop {
    display: none !important;
  }
 }

 .mt-0 {
   margin-top: 0 !important;
 }

 .sidebar-none {

 }

 body {
   color: #000;
 }
 
 /* Navbar & Sidebar */

 nav.navbar {
   width: 100%;
   height: 10vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #01062E;
   display: flex;
   align-items: center;
 }

 nav.navbar .nav-wrapper {
   display: flex;
 }

 nav.navbar .nav-wrapper .logo {
   flex: 1;
   display: flex;
   align-items: center;
 }

 nav.navbar .nav-wrapper .logo h3{
   color: #fff;
   font-weight: 700;
   font-size: 24px;
 }

 nav.navbar .nav-wrapper .logo span{
   width: 10px;
   height: 10px;
   background-color: #FE4F63;
   border-radius: 100%;
   margin-left: 7px;
   margin-top: 10px;
 }

 nav.navbar .nav-wrapper ul.nav-list {
   display: flex;
   flex: 3;
   list-style: none;
   align-items: center;
   justify-content: center;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link {
   margin: 0 25px;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link:first-child {
   margin-left: 0;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link:last-child {
   margin-right: 0;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link a{
   color: #eee;
   font-size: 15px;
   text-decoration: none;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link.nav-active a{
   color: #65FFD5;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link a.sign-in-button{
   padding: 8px 28px;
   background-color: #3A6EFF;
   border-radius: 6px;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link a.sign-up-button{
    padding: 8px 28px;
    background-color: #FF4E62;
    border-radius: 6px;
 }

 @media screen and (max-width: 1000px) {
  nav.navbar {
    flex-direction: column;
    justify-content: center;
  }

  nav.navbar .nav-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav.navbar .nav-wrapper .logo {
    justify-content: center;
  }

  nav.navbar .nav-wrapper ul.nav-list {
    display: flex;
    flex: 3;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .hamburger-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  .hamburger {
    cursor: pointer;
    flex: 1;
  }

  .hamburger .stick{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    border-radius: 10px;
    z-index: 999;
    background-color: black;
  }

  .sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.407);
  }

  .sidebar .sidebar-wrapper{
    width: 75%;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
  }

  .sidebar .sidebar-wrapper .sidebar-header{
    display: flex;
    align-items: center;
    padding: 1rem 1.3rem;
  }

  .sidebar .sidebar-wrapper .sidebar-header .logo {
    flex: 2.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar .sidebar-wrapper .sidebar-header .logo h3{
    color: #01062E;
    font-weight: 700;
    font-size: 24px;
  }

  .sidebar .sidebar-wrapper .sidebar-header .logo span {
    width: 10px;
    height: 10px;
    background-color: #FE4F63;
    border-radius: 100%;
    margin-left: 7px;
    margin-top: 10px;
  }

  .sidebar .sidebar-wrapper .sidebar-line {
    width: 75%;
    height: 2.2px;
    background-color: #ccc;
  }

  .sidebar .sidebar-wrapper .sidebar-list {
    padding: 1rem 1.3rem .5rem;
    list-style: none;
  }

  .sidebar .sidebar-wrapper .sidebar-list .sidebar-link {
    margin: 18px 0;
  }

  .sidebar .sidebar-wrapper .sidebar-list .sidebar-link a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
  }

  .sidebar .sidebar-wrapper .sidebar-list .sidebar-link.small-sidebar-link {
    margin: 10px 0;
  }

  .sidebar .sidebar-wrapper .sidebar-list .sidebar-link.small-sidebar-link a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5px;
  }
 }

 @keyframes sidebarOpen {
  0% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0;
  }
 }

 @keyframes sidebarClose {
  100% {
    margin-left: -100%;
  }
 }

 .sidebar-open {
    animation: sidebarOpen 500ms ease forwards;
 }

 .sidebar-close {
    animation: sidebarClose 500ms ease forwards;
 }

 /* End Of Navbar & Sidebar*/



 
 /* Section Hero Home */
 section.hero-home {
   width: 100%;
   background-image: url('./../images/bg-hero-home.jpg');
   background-position: bottom center;
   background-size: cover;
   padding-bottom: 1rem;
   background-repeat: no-repeat;
 }

 section.hero-home .hero-home-wrapper{
   display: flex;
   align-items: center;
 }

 section.hero-home .hero-home-wrapper .title{
   flex: 1;
 }

 section.hero-home .hero-home-wrapper .title h1{
   font-size: 50px;
   font-weight: 700;
   color: #fff;
   line-height: 4rem;
   margin-bottom: 1.5rem;
 }

 section.hero-home .hero-home-wrapper .title p{
   font-size: 19px;
   color: #fff;
   font-weight: 400;
   line-height: 1.6rem;
   margin-bottom: 4.5rem;
 }

 section.hero-home .hero-home-wrapper .title a.more-information{
   background-color: #FE4F63;
   color: #fff;
   font-size: 22;
   font-weight: 600;
   text-decoration: none;
   padding: 20px 50px;
   border-radius: 40px;
 }


 section.hero-home .hero-home-wrapper .hero-image{
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 section.hero-home .hero-home-wrapper .hero-image img{
   width: 100%;
 }


 @media screen and (max-width: 1000px) {
  section.hero-home {
    width: 100%;
    background-image: url('./../images/bg-hero-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1rem;
  }
  
  section.hero-home .hero-home-wrapper{
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  section.hero-home .hero-home-wrapper .title {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
  section.hero-home .hero-home-wrapper .title h1{
    font-size: 22px;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  section.hero-home .hero-home-wrapper .title h1 span{
    display: block;
    font-size: 45px;
    font-weight: 700;
  }
 
  section.hero-home .hero-home-wrapper .title p{
    align-self: center;
    font-size: 14px;
    line-height: 1.25rem;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
  }
 
  section.hero-home .hero-home-wrapper .title a.more-information{
    display: none;
  }
 
  section.hero-home .hero-home-wrapper .hero-image{
    padding: 1.5rem 0 .4rem;
  }
 
  section.hero-home .hero-home-wrapper .hero-image img{
    width: 90%;
  }
 }

 /* End Of Section Hero Home */



 /* Section Home Small Card */
 .home-ask-information .home-ask-information-wrapper {
    display: flex;
    flex-direction: column;
 }

 .home-ask-information .home-ask-information-wrapper .card{
    display: flex;
    flex-direction: row;
    margin: .7rem 0;
    border-radius: 40px;
    padding: 1rem 4rem;
 }

 .home-ask-information .home-ask-information-wrapper .card:first-child{
    background-color: #4274FF;
 }

 .home-ask-information .home-ask-information-wrapper .card:last-child{
    background-color: #FF4E62;
    flex-direction: row-reverse;
 }

 .home-ask-information .home-ask-information-wrapper .card .illustration{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .home-ask-information .home-ask-information-wrapper .card .illustration img{
    width: 80%;
 }

 .home-ask-information .home-ask-information-wrapper .card .text{
    padding: 1rem;
    flex: 5;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }

 .home-ask-information .home-ask-information-wrapper .card .text h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 2.5rem;
 }

 .home-ask-information .home-ask-information-wrapper .card .text p{
    font-size: 24px;
    margin-top: .3rem;
 }

 .home-ask-information .home-ask-information-wrapper .card .text a{
    font-size: 19px;
    background-color: #4274FF;
    color: #fff;
    text-decoration: none;
    padding: 13px 38px;
    border-radius: 10px;
    margin-top: 1.5rem;
 }

 @media screen and (max-width: 1000px) {
  .home-ask-information .home-ask-information-wrapper .card{
    border-radius: 20px;
    padding: 2rem 1rem .8rem;
    margin: .46rem 0;
    flex-direction: column;
  }

  .home-ask-information .home-ask-information-wrapper .card:last-child{
    background-color: #FF4E62;
    flex-direction: column;
 }

  .home-ask-information .home-ask-information-wrapper .card .text h3{
    font-size: 16.5px;
    line-height: 1.35rem;
    text-indent: 10px;
    font-weight: 600;
    text-align: center;
  }

  .home-ask-information .home-ask-information-wrapper .card .text p{
    font-size: 15px;
    font-weight: 600;
    margin-top: 1rem;
  }

  .home-ask-information .home-ask-information-wrapper .card .text a{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 7.5px;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }

  .home-ask-information .home-ask-information-wrapper .card .illustration{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem;
  }

  .home-ask-information .home-ask-information-wrapper .card .illustration img{
    width: 80%;
  }
 }
 /* End of Section Small Card */


 /* Section Seputar COVID 19*/
 .feature-category-container {
   display: flex;
 }

 .feature-category-container .description {
   flex: 1;
   background-color: #4274FF;
   border-radius: 40px;
   margin: .7rem 0;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 1rem 4rem;
 }

 .feature-category-container .description h2{
   color: #eee;
   font-size: 45px;
   font-weight: 700;
   line-height: 3.7rem
 }

 .feature-category-container .description h2 span{
   display: block;
   font-size: 64px;
   font-family: 'Poppins', sans-serif;
 }

 .feature-category-container .description hr {
   height: 7.5px;
   background-color: #FE4F63;
   border: none;
   width: 75%;
   margin: 1.3rem 0;
   border-radius: 25px;
 }

 .feature-category-container .description p {
   font-size: 20px;
   color: #eee;
   font-weight: 400;
 }

 .feature-category-container .description ul {
    color: #eee;
    font-size: 20px;
    list-style: none;
 }

 .feature-category-container .description ul li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
 }

 .feature-category-container .description ul li:first-child{
    margin-top: 0;
 }

 .feature-category-container .description ul li div{
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #FE4F63;
    margin-right: 1rem;
 }

 .feature-category-container .description div a {
    color: #eee;
    background-color: #FE4F63;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 18px 48px;
    border-radius: 50px;
 }

 .feature-category-container .animation-illustration-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .feature-category-container .animation-illustration-container div{
    padding: 2rem;
 }

 .feature-category-container .animation-illustration-container div img{
    width: 100%;
 }

 @media screen and (max-width: 1000px) {
  .feature-category-container{
    flex-direction: column;
  }

  .feature-category-container.reverse{
    flex-direction: column-reverse;
  }

  .feature-category-container .description {
    border-radius: 20px;
    margin: .7rem 0;
    padding: 2rem 3rem;
  }

  .feature-category-container .description h2{
    font-size: 24px;
    line-height: 2.2rem
  }

  .feature-category-container .description h2 span{
    font-size: 38px;
  }

  .feature-category-container .description hr {
    height: 5px;
    margin: .8rem 0 1.5rem;
    border-radius: 25px;
  }

  .feature-category-container .description p {
    font-size: 16px;
    line-height: 1.45rem;
    text-indent: 10px;
    text-align: justify;
  }

  .feature-category-container .description ul {
    color: #eee;
    font-size: 16px;
    list-style: none;
    margin-top: 1rem;
  }

 .feature-category-container .description ul li{
    display: flex;
    align-items: center;
    margin: .4rem 0;
  }

  .feature-category-container .description {
    margin-top: 2rem;
  }

  .feature-category-container .description .button-wrapper {
    margin-top: 2rem;
  }

 .feature-category-container .description div a {
    color: #eee;
    background-color: #FE4F63;
    font-weight: bold;
    font-size: 13.5px;
    text-decoration: none;
    padding: 13px 35px;
    border-radius: 20px;
  }

 .feature-category-container .animation-illustration-container div{
    padding: 5rem 5rem 0;
 }
}

 /* End of Section Seputar COVID 19 */


 /* Section Home Lawan Corona */
 .home-lawan-corona {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
 }

 .home-lawan-corona .title-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
 }

 .home-lawan-corona .title-wrapper h3{
    color: #4274FF;
    font-size: 38px;
    font-weight: bold;
 }

 .home-lawan-corona .title-wrapper h2{
    color: #FE4F63;
    font-weight: bold;
    font-size: 75px;
 }

 .home-lawan-corona .title-wrapper img{
    width: 150px;
    margin: 1rem auto;
  }

  .bg-lawan-corona-wrapper img {
    width: 100%;
    margin-bottom: -.5rem;
  }

  @media screen and (max-width: 1000px) {
    .home-lawan-corona {
      margin-top: 2rem;
    }

    .home-lawan-corona .title-wrapper h3{
      font-size: 25px;
    }

    .home-lawan-corona .title-wrapper h2{
      font-size: 50px;
      margin-top: .5rem;
    }

    .home-lawan-corona .title-wrapper img{
      width: 100px;
      margin: 1rem auto;
    }

    .bg-lawan-corona-wrapper img {
      margin-top: 3rem;
    }
  }
 /* End Of Section Home Lawan Corona */

 /* Section Kebijakan Privasi */
  .terms{
    width:100%;
    background-color: #efefef;
    padding-bottom: 30px;
  }

  .terms .contents{
    width: 90%;
    margin-left: 5%;
  }

  .terms .head-terms{
    padding: 3rem 0 1.5rem;
    display: flex;
    align-items: center;
  }

  .terms .head-terms img{
    width: 50px;
  }

  .terms .head-terms h1{
    margin-left: 1rem;
    font-weight: 600;
    color: #333;
  }

  .terms .terms-2{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 2px 10px rgba(104, 104, 104, 0.2);
  }

  .terms .terms-title{
    width:100%;
    border-bottom: 2px solid #dedede;
    padding: 1rem 2rem;
  }
  .terms .terms-title a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .terms .terms-title a img{
    width: 15px;
  }

  .terms .terms-title a span{
    margin-left: .5rem;
    color: #3A6EFF;
    font-weight: 500;
  }

  .terms .content-terms{
    padding: 2rem 3rem;
  }

  .terms .content-terms ul {
    list-style-type: upper-alpha;
    color: #333;
  }

  .terms .content-terms ul h4{
    font-size: 16px;
    margin: 2.5rem 0 1rem;
  }

  .terms .content-terms ol{
    color: #555;
    text-align: justify;
    font-size: 14px;
    padding: 0 2rem;
  }

  .terms .content-terms ol li{
    margin: 1rem 0;
    line-height: 1.2rem;
  }

  @media screen and (max-width: 1000px){
    .terms .content-terms ol{
      padding: 0 .5rem;
    }
  }
 /* End Of Section Kebijakan Privasi */

 /* Section Footer */
  .footer {
    background-image: url('./../images/bg-footer.png');
    background-size: cover;
    background-position: center;
  }

  .footer .footer-info {
    padding: 125px 118px;
    color: #eee;
  }

  .footer .footer-info .thanks-wrapper h2{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 1rem;
  }

  .footer .footer-info .thanks-wrapper .instantiation-wrapper{
    display: flex;
  }

  .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation{
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header{
    display: flex;
    align-items: center;
  }

  .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header .logo{
    padding: 1rem 0;
  }

  .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header .logo img{
    width: 45px;
  }

  .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header .logo img.logo-iitc{
    width: 96px;
  }

  .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header h4{
    margin-left: 1rem;
    font-size: 22px;
    font-weight: bold;
    color: #eee;
  }

  .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-description p{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5rem;
    margin-top: .25rem;
    color: #eee;
  }

  .footer .footer-info .information-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 6rem;
  }

  .footer .footer-info .information-wrapper .info h6{
    font-weight: bold;
    font-size: 17px;
    padding: 1.25rem 0;
    color: #eee;
  }

  .footer .footer-info .information-wrapper .info h6 img{
    width: 200px;
  }

  .footer .footer-info .information-wrapper .info ul {
    list-style: none;
    font-size: 14px;
    font-weight: normal;
    color: #eee;
  }

  .footer .footer-info .information-wrapper .info:first-child div{
    display: flex;
    align-items: center;
    margin-top: -5px;
  }

  .footer .footer-info .information-wrapper .info:first-child div h6{
    font-size: 20px;
  }

  .footer .footer-info .information-wrapper .info:first-child div span{
    width: 9.5px;
    height: 9.5px;
    background-color: #FE4F63;
    border-radius: 100%;
    margin-left: 10px;
  }


  .footer .footer-info .information-wrapper .info:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .footer-info .information-wrapper .info img {
    width: 200px;
    padding-bottom: 1.25rem;
  }

  .footer .created-wrapper{
    color: #eee;
    border-top: 3px solid #66749A;
    padding: 15px 0;
    text-align: center;
  }

  .footer .created-wrapper h6{
    font-size: 16px;
    font-weight: normal;
  }

  .footer .created-wrapper h6 span{
    color: #FE4F63;
    font-size: 23px;
    margin: 0 .1rem;
  }

  @media screen and (max-width: 1000px) {
    .footer {
      background-repeat: no-repeat;
    }
  
    .footer .footer-info {
      padding: 4rem 2.5rem;
    }
  
    .footer .footer-info .thanks-wrapper h2{
      font-weight: 600;
      font-size: 22px;
      margin-bottom: .75rem;
    }

    .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation {
      margin-top: 1.5rem;
      padding: 0 10px;
    }

    .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header .logo{
      padding: 0rem 0;
      display: flex;
      text-align: center;
      margin: auto;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header .logo img{
      width: 50px;
      margin: auto;
    }
  
    .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header .logo img.logo-iitc{
      width: 96px;
      margin: auto;
    }

    .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-header h4{
      font-size: 15px;
      margin-left: 0rem;
      margin-top: 1rem;
      text-align: center;
    }
  
    .footer .footer-info .thanks-wrapper .instantiation-wrapper .instantiation .instantiation-description p{
      display: none;
    }

    .footer .footer-info .information-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 3rem;
      flex-wrap: wrap;
    }

    .footer .footer-info .information-wrapper .info{
      width: 50%;
      margin-top: 2.3rem;
    }

    .footer .footer-info .information-wrapper .info.cofight {
      order: 1;
    }

    .footer .footer-info .information-wrapper .info.iitc-logo {
      order: 2;
      width: 100%;
      margin-top: 3rem;
    }
  
    .footer .footer-info .information-wrapper .info h6{
      font-weight: 700;
      font-size: 17px;
      padding: 0 0;
    }
  
    .footer .footer-info .information-wrapper .info ul {
      font-size: 13px;
      margin-top: .85rem;
    }
    .footer .footer-info .information-wrapper .info:first-child div{
      margin-top: 0px;
    }
  
    .footer .footer-info .information-wrapper .info:first-child div h6{
      font-size: 20px;
    }
  
    .footer .footer-info .information-wrapper .info:first-child div span{
      width: 9px;
      height: 9px;
    }
  
    .footer .footer-info .information-wrapper .info img {
      width: 50%;
    }
  
    .footer .created-wrapper{
      border-top: 3px solid #66749A;
      padding: 10px 0;
    }
  
    .footer .created-wrapper h6{
      font-size: 14px;
    }
  
    .footer .created-wrapper h6 span{
      font-size: 19px;
    }
  }

 /* End Of Section Footer */


 /* Section Hero Seputar Covid */
  .hero-seputar-covid {
    padding: 5rem 4rem 7rem;
    background-image: url('./../images/bg-hero-update-covid.png');
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .hero-seputar-covid .title-hero-wrapper {
    flex: 1;
  }

  .hero-seputar-covid .title-hero-wrapper h4 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
  }

  .hero-seputar-covid .title-hero-wrapper h3{ 
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    line-height: 0;
    font-weight: 700;
  }

  .hero-seputar-covid .title-hero-wrapper h3 span{
    color: rgb(30, 80, 216);
    font-size: 36px;
  }

  .hero-seputar-covid .title-hero-wrapper h2 {
    font-size: 80px;
    color: #fff;
    margin-top: .75rem;
  }

  .hero-seputar-covid .title-hero-wrapper p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35rem;
    text-indent: 15px;
    color: #fff;
    margin-bottom: 3rem;
  }

  .hero-seputar-covid .title-hero-wrapper a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(23, 121, 206);
    text-decoration: none;
    border-radius: 7.5px;
    padding: .6rem 2.75rem;
    background-color: #fff;
  }

  .hero-seputar-covid .image-wrapper {
    flex: 1;
    padding: 0 2rem;
  }

  .hero-seputar-covid .image-wrapper img{
    width: 100%;
  }

  @media screen and (max-width: 1000px) {
    .hero-seputar-covid {
      padding: 4rem 2rem 7rem;
      background-image: url('./../images/bg-hero-seputar-covid.png');
      background-size: cover;
      background-position: bottom center;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .hero-seputar-covid .title-hero-wrapper {
      flex: 1;
      margin-top: 2rem;
    }
  
    .hero-seputar-covid .title-hero-wrapper h4 {
      font-size: 25px;
      font-weight: 700;
      color: #444;
      margin-bottom: 1rem;
    }
  
    .hero-seputar-covid .title-hero-wrapper h3{ 
      font-size: 32px;
      font-weight: bold;
      color: #444;
      line-height: 0;
      font-weight: 600;
    }

    .hero-seputar-covid .title-hero-wrapper h3 span{
      font-size: 32px;
      font-weight: 700;
    }
  
    .hero-seputar-covid .title-hero-wrapper h2 {
      font-size: 60px;
      color: #333;
    }
  
    .hero-seputar-covid .title-hero-wrapper p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25rem;
      color: #444;
      margin-bottom: 2.5rem;
    }
  
    .hero-seputar-covid .title-hero-wrapper a {
      font-size: 16px;
      font-weight: 600;
      padding: .5rem 2.5rem;
    }
  }

 /* End Of Hero Seputar COVID */

 /* Section what learn about COVID */
 section.what-learn-about-covid {
   display: flex;
   flex-direction: column;
   margin-top: 2rem;
 }

 section.what-learn-about-covid .title {
   text-align: center;
 }

 section.what-learn-about-covid .title h3 {
   font-size: 38px;
   color: #056CC4;
   margin-bottom: .75rem;
 }

 section.what-learn-about-covid .title p {
   font-size: 17px;
   color: #555;
 }

 section.what-learn-about-covid .illustration-wrapper {
   display: flex;
   margin-top: 3rem;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 section.what-learn-about-covid .illustration-wrapper .doctor-illustration-wrapper{
   flex: 1;
   align-items: center;
   justify-content: center;
 }

 section.what-learn-about-covid .illustration-wrapper .doctor-illustration-wrapper .inner{
   padding: 0 5rem;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 section.what-learn-about-covid .illustration-wrapper .doctor-illustration-wrapper img{
   width: 100%;
 }

 section.what-learn-about-covid .illustration-wrapper .card-info-container {
  flex: 1;
  display: flex;
  align-items: center;
 }

 section.what-learn-about-covid .illustration-wrapper .card-info-container .inner {
   display: flex;
   flex-direction: column;
   padding: 0 2rem;
  }

 section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card {
   display: flex;
   align-items: center;
   background-color: #fff;
   margin: .75rem 0;
   border-radius: 30px;
   padding: 1.35rem 1rem;
   cursor: pointer;
   transition: 300ms ease;
 }

 section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card:hover {
  background-color: #2470E0;
  box-shadow: 3px 2px 10px rgba(104, 104, 104, 1);
}

 section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .illustration {
   flex: 2;
 }

 section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card img{
  width: 100%;
 }

 section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text {
  flex: 6;
 }

 section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text .inner{
  padding-left: 2rem;
 }

 section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text h3{
  font-size: 18px;
  color: #000;
  transition: 300ms ease;
 }

  section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card:hover .text h3{
    font-size: 18px;
    color: #eee;
  }

  section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text p{
    font-size: 15px;
    color: #000;
    margin: .5rem 0 1.5rem;
    transition: 300ms ease;
  }

  section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card:hover .text p{
    font-size: 15px;
    color: #eee;
    margin: .5rem 0 1.5rem;
  }

  section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text a{
    font-size: 14px;
    background-color: #2A81EA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: .4rem 1.75rem;
    font-weight: 600;
    transition: 300ms ease;
  }

  section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card:hover .text a{
    font-size: 14px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    padding: .4rem 1.75rem;
    font-weight: 600;
  }

  @media screen and (max-width: 1000px) {
    section.what-learn-about-covid {
      margin-top: 1rem;
    }

    section.what-learn-about-covid .title {
      padding: 0 .5rem;
    }

    section.what-learn-about-covid .title h3 {
      font-size: 26px;
    }
   
    section.what-learn-about-covid .title p {
      font-size: 16px;
      line-height: 1.4rem;
      text-indent: 20px;
      margin-top: 1rem;
    }
   
    section.what-learn-about-covid .illustration-wrapper {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
   
    section.what-learn-about-covid .illustration-wrapper .doctor-illustration-wrapper{
      flex: 1;
      align-items: center;
      justify-content: center;
    }
   
    section.what-learn-about-covid .illustration-wrapper .doctor-illustration-wrapper .inner{
      padding: 0 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
   
    section.what-learn-about-covid .illustration-wrapper .doctor-illustration-wrapper img{
      width: 100%;
    }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container {
     flex: 1;
     display: flex;
     align-items: center;
     margin-top: 1rem;
    }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner {
      padding: 0 .75rem;
     }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card {
      display: flex;
      align-items: center;
      margin: .5rem 0;
      border-radius: 15px;
      transition: 300ms ease;
    }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card:hover {
     background-color: #2470E0;
     box-shadow: 3px 2px 10px rgba(104, 104, 104, 1);
   }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .illustration {
      flex: 2;
    }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card img{
     width: 100%;
    }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text {
     flex: 6;
    }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text .inner{
     padding-left: 2rem;
    }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text h3{
     font-size: 17px;
     color: #222;
     transition: 300ms ease;
    }
   
    section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card:hover .text h3{
      font-size: 17px;
      color: #eee;
    }
   
     section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text p{
       font-size: 14px;
       color: #444;
       margin: .5rem 0 1rem;
       transition: 300ms ease;
     }
   
     section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card:hover .text p{
       font-size: 14px;
       color: #eee;
       margin: .5rem 0 1rem;
     }
   
     section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card .text a{
       font-size: 13px;
       color: #fff;
       text-decoration: none;
       transition: 300ms ease;
     }
   
     section.what-learn-about-covid .illustration-wrapper .card-info-container .inner .card:hover .text a{
       font-size: 13px;
     }
  }

 /* End Of what learn about COVID */


 /* Section apa itu covid-19 */
  section.what-covid-19 {
    background: url('./../images/bg-apa-itu-covid-19.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 0 4rem;
  }

  section.what-covid-19 .title {
    text-align: center;
    font-size: 28px;
    color: #444;
  }

  section.what-covid-19 .title hr {
    width: 10%;
    margin-top: 2rem;
    margin: auto;
    border: 2px solid #5A9FF1;
    border-radius: 10px;
  }

  section.what-covid-19 .explanation-container {
    display: flex;
    align-items: center;
  }

  section.what-covid-19 .explanation-container .text {
    flex: 1;
  }

  section.what-covid-19 .explanation-container .text div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
  }

  section.what-covid-19 .explanation-container .text .wrapper div span{
    font-size: 14px;
    font-weight: 600;
    color: #eee;
    padding: .5rem 2rem;
    background-color: #3A6EFF;
    border-radius: 30px;
  }

  section.what-covid-19 .explanation-container .text .wrapper h3 {
    font-size: 40px;
    color: #444;
    margin-top: 1.5rem;
    line-height: 3rem;
  }

  section.what-covid-19 .explanation-container .text .wrapper h3 span {
    display: block;
    color: #3A6EFF;
    font-size: 48px;
  }

  section.what-covid-19 .explanation-container .text .wrapper p {
    color: #555;
    font-size: 17px;
    text-indent: 20px;
    margin-top: 1rem;
  }

  section.what-covid-19 .explanation-container .illustration {
    flex: 1;
  }

  section.what-covid-19 .explanation-container .illustration .inner{
    padding: 0 5rem;
  }

  section.what-covid-19 .explanation-container .illustration img{
    width: 100%;
  }

  @media screen and (max-width: 1000px) {
    section.what-covid-19 {
      padding: 8rem 0 4rem;
    }
  
    section.what-covid-19 .title {
      font-size: 20px;
    }
  
    section.what-covid-19 .explanation-container {
      flex-direction: column-reverse;
      margin-top: 1.5rem;
    }
  
    section.what-covid-19 .explanation-container .text {
      flex: 1;
    }
  
    section.what-covid-19 .explanation-container .text div.wrapper {
      padding: 0 2.2rem;
    }

    section.what-covid-19 .explanation-container .text .wrapper div {
      text-align: center;
      margin-top: 1rem;
    }
  
    section.what-covid-19 .explanation-container .text .wrapper div span{
      font-size: 13px;
      color: #eee;
      padding: .4rem 2rem;
    }
  
    section.what-covid-19 .explanation-container .text .wrapper h3 {
      font-size: 28px;
      color: #444;
      margin-top: 1.8rem;
      line-height: 2.5rem;
    }
  
    section.what-covid-19 .explanation-container .text .wrapper h3 span {
      font-size: 42px;
    }

    section.what-covid-19 .explanation-container .text .wrapper .paragraph-wrap {
      margin-top: .75rem;
      text-align: left;
    }
  
    section.what-covid-19 .explanation-container .text .wrapper p {
      color: #666;
    }

    section.what-covid-19 .explanation-container .illustration {
      flex: 1;
    }
  
    section.what-covid-19 .explanation-container .illustration .inner{
      padding: 0 5rem;
    }
  }

 /* End Of Section apa itu covid-19 */

 /* Section gejala covid-19 */
  section.gejala-covid-19-container {
    padding: 5rem 0 4rem;
  }

  section.gejala-covid-19-container .title {
    text-align: center;
    font-size: 28px;
    color: #444;
  }

  section.gejala-covid-19-container .title hr {
    width: 10%;
    margin-top: 2rem;
    margin: auto;
    border: 2px solid #5A9FF1;
    border-radius: 10px;
  }

  section.gejala-covid-19-container .explanation-container {
    display: flex;
    align-items: center;
  }

  section.gejala-covid-19-container .explanation-container .illustration {
    flex: 1;
  }

  section.gejala-covid-19-container .explanation-container .illustration .inner {
    padding: 2rem 3.3rem;
  }

  section.gejala-covid-19-container .explanation-container .illustration .inner img{
    width: 100%;
  }

  section.gejala-covid-19-container .explanation-container .text {
    flex: 1;
  }

  section.gejala-covid-19-container .explanation-container .text .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }

  section.gejala-covid-19-container .explanation-container .text .inner div span{
    font-size: 14px;
    font-weight: 600;
    color: #eee;
    padding: .5rem 2rem;
    background-color: #3A6EFF;
    border-radius: 30px;
  }

  section.gejala-covid-19-container .explanation-container .text .inner .desc-wrapper {
    margin: 1rem 0;
  }

  section.gejala-covid-19-container .explanation-container .text .inner .desc-wrapper h3{
    font-size: 40px;
    color: #444;
    margin-top: .6rem;
    padding: 0;
  }

  section.gejala-covid-19-container .explanation-container .text .inner .desc-wrapper h2{
    color: #3A6EFF;
    font-size: 48px;
    margin-top: -.4rem;
  }

  section.gejala-covid-19-container .explanation-container .text .inner .desc-wrapper p {
    color: #555;
    font-size: 17px;
    text-indent: 20px;
    margin-top: .75rem;
  }

  section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration{
    width: 50%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration .image-wrapper {
    flex: 1;
    padding: 1rem .5;
  }

  section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration .text-wrapper {
    flex: 3;
    padding: 1rem;
  }

  section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration .text-wrapper h4{
    font-size: 20px;
    color: rgb(32, 78, 202);
    font-weight: 600;
  }

  section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration .image-wrapper img{
    width: 100%;
  }

  @media screen and (max-width: 1000px) {
    section.gejala-covid-19-container {
      padding: 3rem 0;
    }
  
    section.gejala-covid-19-container .title {
      font-size: 20px;
    }
  
    section.gejala-covid-19-container .explanation-container {
      flex-direction: column;
    }
  
    section.gejala-covid-19-container .explanation-container .illustration {
      flex: 1;
    }
  
    section.gejala-covid-19-container .explanation-container .illustration .inner {
      padding: 1rem 3.3rem .75rem;
    }
  
    section.gejala-covid-19-container .explanation-container .text .inner {
      padding: 0 2rem;
    }
  
    section.gejala-covid-19-container .explanation-container .text .inner .button-wrap {
      text-align: center;
    }

    section.gejala-covid-19-container .explanation-container .text .inner div span{
      font-size: 14px;
      font-weight: 600;
      color: #eee;
      padding: .5rem 2rem;
      background-color: #3A6EFF;
      border-radius: 30px;
    }
  
    section.gejala-covid-19-container .explanation-container .text .inner .desc-wrapper {
      margin: 1.75rem 0;
    }
  
    section.gejala-covid-19-container .explanation-container .text .inner .desc-wrapper h3{
      font-size: 28px;
      color: #444;
      margin-top: 1.8rem;
      line-height: 2.5rem;
    }
  
    section.gejala-covid-19-container .explanation-container .text .inner .desc-wrapper h2{
      font-size: 42px;
      margin-top: -.3rem;
    }
  
    section.gejala-covid-19-container .explanation-container .text .inner .desc-wrapper p {
      color: #666;
    }
  
    section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper {
      margin-top: -.5rem;
    }
  
    section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration{
      margin: .5rem 0;
    }
  
    section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration .image-wrapper {
      flex: 1;
      padding: 1rem .5;
    }
  
    section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration .text-wrapper {
      flex: 3;
      padding: 1rem .8rem;
    }
  
    section.gejala-covid-19-container .explanation-container .text .small-illustration-wrapper .small-illustration .text-wrapper h4{
      font-size: 17px;
    }
  }
 /* End Of Section gejala COVID 19 */

 /* Section Pencegahan */
 .covid-pencegahan-wrapper {
   background: url('./../images/bg-pencegahan.png');
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   padding: 5rem 0 5rem;
 }

 .covid-pencegahan-wrapper .title {
    text-align: center;
    font-size: 28px;
    color: #444;
  }

  .covid-pencegahan-wrapper .title hr {
    width: 10%;
    margin-top: 2rem;
    margin: auto;
    border: 2px solid #5A9FF1;
    border-radius: 10px;
  }

 .covid-pencegahan-wrapper .text {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   padding: 0 7rem;
 }

 .covid-pencegahan-wrapper .text span {
  font-size: 14px;
  font-weight: 600;
  color: #eee;
  padding: .5rem 2rem;
  background-color: #3A6EFF;
  border-radius: 30px;
 }

 .covid-pencegahan-wrapper .text h3 {
   color: #444;
   font-size: 24px;
   margin-top: 2rem;
 }

 .covid-pencegahan-wrapper .text p {
  margin-top: .5rem;
  color: #555;
 }

 .covid-pencegahan-wrapper .text .image-wrap img {
   width: 100%;
 }

 .covid-pencegahan-wrapper .illustration-wrapper {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  padding: 0 7rem;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .illustration-hero{
  order: 2;
  flex: 2;
}

.covid-pencegahan-wrapper .illustration-wrapper .illustration-hero .inner {
  padding: 0 3rem;

}

.covid-pencegahan-wrapper .illustration-wrapper .illustration-hero .inner img{
  width: 100%;
}

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper.first{
  order: 1;
  flex: 1;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper.second{
  order: 3;
  flex: 1;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how {
   display: flex;
   align-items: center;
   margin: 2rem 0;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper.second .how{
  display: flex; 
  flex-direction: row-reverse;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how .image-wrap {
   flex: 1;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how .image-wrap img{
   width: 100%;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how .text-wrap {
  flex: 3;
  padding: 0 1.5rem;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how .text-wrap h4{
  color: #1D55CB;
  font-weight: 600;
  font-size: 18px;
 }

 .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper.second .how .text-wrap h4{
  text-align: right;
 }

 @media screen and (max-width: 1000px) {
  .covid-pencegahan-wrapper {
    padding: 7rem 0 2rem;
  }

  .covid-pencegahan-wrapper .title {
    font-size: 20px;
  }
 
  .covid-pencegahan-wrapper .text {
    text-align: center;
    padding: 0 2rem;
  }

  .covid-pencegahan-wrapper .text .image-wrap {
    padding: 0 3rem;
    margin-top: 3rem;
  }

  .covid-pencegahan-wrapper .text .image-wrap img {
    width: 100%;
  }
 
  .covid-pencegahan-wrapper .text span {
    margin-top: .75rem;
  }
 
  .covid-pencegahan-wrapper .text h3 {
    margin-top: 1.5rem;
    line-height: 1.7rem;
    font-size: 25px;
    font-weight: 600;
    color: #555;
  }

  .covid-pencegahan-wrapper .text h3 small{
    display: block;
    font-size: 32px;
    color: #3A6EFF;
    margin-top: .5rem;
    font-weight: bold;
  }
 
  .covid-pencegahan-wrapper .text p {
   margin-top: 1rem;
   color: #666;
   text-indent: 20px;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   margin-top: 0rem;
   padding: 0 2rem;
  }

  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper {
    flex: 1;
  }

  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper.first{
   order: 1;
   flex: 1;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper.second{
   order: 3;
   flex: 1;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    padding: .2rem;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper.second .how{
   display: flex; 
   flex-direction: row;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how .image-wrap {
    flex: 1;
    padding-right: .75rem;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how .image-wrap img{
    width: 100%;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how .text-wrap {
   flex: 2;
   padding: 0 0rem;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper .how .text-wrap h4{
   color: #1D55CB;
   font-weight: 600;
   font-size: 14px;
  }
 
  .covid-pencegahan-wrapper .illustration-wrapper .how-wrapper.second .how .text-wrap h4{
   text-align: left;
  }
 }

 /* End Of Section Pencegahan */

 /* Section Hero Update Kasus COVID 19 */
 section.hero-update-kasus-wrapper {
   background: url('./../images/bg-hero-update-covid.png');
   background-size: cover;
   background-position: bottom center;
   background-repeat: no-repeat;
   padding-bottom: 9.1rem;
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper {
  padding: 2rem 2rem;
  display: flex;
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper .hero-title-wrapper {
   flex: 1;
   display: flex;
   align-items: center;
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper .hero-title-wrapper .hero-title{
   padding: 0 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper .hero-title-wrapper .hero-title h2{
   color: #fff;
   font-size: 65px;
   font-weight: 800;
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper .hero-title-wrapper .hero-title p {
   color: #fff;
   margin-top: 1rem;
   color: #eee;
   text-indent: 20px;
   font-size: 17px;
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper .hero-title-wrapper .hero-title div {
   margin-top: 3rem;
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper .hero-title-wrapper .hero-title div a {
  color: rgb(57, 127, 226);
  text-decoration: none;
  background-color: #fff;
  padding: .65rem 3rem;
  font-weight: bold;
  font-size: 20px;
  border-radius: 7.5px;
  box-shadow: 3px 2px 5px rgba(104, 104, 104, 0.4);
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper .illustration-wrapper{
  flex: 1.25;
 }

 section.hero-update-kasus-wrapper .hero-inner-wrapper .illustration-wrapper .illustration img{
   width: 100%;
 }

 /* End Of Section Update Kasus COVID 19 */


 /* Section case card */
 section.case-card-container {
   display: flex;
   background-color: #F8F8F8;
   padding: 3rem .75rem;
 }

 section.case-card-container .card {
   flex: 1;
   display: flex;
   color: #fff;
   margin: 0 1rem;
   border-radius: 20px;
   padding: 18px 30px;
   background-color: #fff;
   box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 8px 0px;
   color: #2B2B2B !important;
   transition: 300ms ease;
 }

 section.case-card-container .card:hover {
  cursor: pointer;
  transform: scale(1.05);
 }


 section.case-card-container .card .image-wrap {
   padding: 0 .5rem;
 }

 section.case-card-container .card .image-wrap .inner img{
   width: 80%;
 }

 section.case-card-container .card .text-wrap {
  flex: 1;
  display: flex;
 }

 section.case-card-container .card .text-wrap .inner {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }

 section.case-card-container .card .text-wrap .inner h4{
   margin-top: .35rem;
 }

 section.case-card-container .card .text-wrap .inner h2{
   font-size: 38px;
 }

 /* End Of Section case card */


 /* Section table update kasus */
 section.table-wrapper-container {
  background-color: #F8F8F8;
  padding: 1rem 1.75rem;
 }

 section.table-wrapper-container .inner-table-wrapper {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 25px 0px;
  border-radius: 10px;
  padding: 0rem 2rem;
 }

 section.table-wrapper-container .inner-table-wrapper .header .inner {
   border-bottom: 1.5px solid #eee;
   padding: 1rem 0;
 }

 section.table-wrapper-container .inner-table-wrapper .header .inner h3 {
   color: #2C2C2C;
   font-weight: 500;
 }

 section.table-wrapper-container .inner-table-wrapper .table-wrapper .inner {
   padding: 1rem 0;
 }

 section.table-wrapper-container .inner-table-wrapper .table-wrapper .inner table{
   width: 100%;
   color: #626262;
 }

 section.table-wrapper-container .inner-table-wrapper .table-wrapper .inner table thead {
   text-align: left;
 }

 section.table-wrapper-container .inner-table-wrapper .table-wrapper .inner table thead tr th {
  padding-bottom: 1rem;
 }

 section.table-wrapper-container .inner-table-wrapper .table-wrapper .inner table tbody {
   margin: 1rem 0;
   overflow-y: scroll !important;
   scroll-behavior: smooth;
 }

 section.table-wrapper-container .inner-table-wrapper .table-wrapper .inner table tbody tr td{
  padding: .5rem 0;
 }

 section.table-wrapper-container .inner-table-wrapper .table-wrapper .inner table tbody tr:hover td {
   background-color: #efefef;
   cursor: pointer;
 }

 /* End Of Section tanle update kasus */
  table th{
  font-size: 20px;
}
 table.scroll {
  width:100%;
}
 table.scroll thead {
  text-align: left;
  display:table;
  width:100%;
}
 table.scroll tbody {
  display:block;
  height:400px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  float:left;
  width:100%; 
}
 table.scroll tbody tr {
  display:table;
  width:100%;
}
 table.scroll th, td {
  width:30%;
  text-align: left !important;
}

 /* Section paragraph update kasus */
 section.paragraph-update-kasus {
   padding: 2rem 1.75rem 0;
   background-color: #F8F8F8;
   text-align: center;
 }

 section.paragraph-update-kasus .inner {
  padding: 0 2rem;
 }

 section.paragraph-update-kasus .inner  h2{
  font-size: 32px; 
  color: #333;
  font-weight: 800;
 }

 section.paragraph-update-kasus .inner  p{
   margin-top: 1.5rem;
   font-size: 17px;
   color: #555;
   padding: 0 5rem;
 }
 /* End Of Section paragraph update kasus */


 /* Section register page */
 section.register-container {
  padding: 3rem 33%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  background-color: #EFEFEF;
 }

 section.register-container .form-wrapper {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 25px 0px;
  padding: 1rem;
 }

 section.register-container .form-wrapper .header h1 {
   text-align: center;
   color: rgb(36, 89, 233);
 }

 section.register-container .form-wrapper form {
  padding: .5rem 1rem 1rem;
 }

 section.register-container .form-wrapper form .form-group {
   display: flex;
   flex-direction: column;
   margin: 1rem 0;
 }

 section.register-container .form-wrapper form .form-group label {
   font-weight: bold;
   color: #333;
 }

 section.register-container .form-wrapper form .form-group label span {
   color: red;
 }

 section.register-container .form-wrapper form .form-group input {
  padding: .6rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #efefef;
  margin-top: 5px;
  font-size: 17px;
  color: #444;
 }

 section.register-container .form-wrapper form .form-group input.is-invalid {
   border: 1px solid #ff3838;
 }

 section.register-container .form-wrapper form .form-group button {
   border: none;
   background-color: #056CC4;
   color: #eee;
   font-weight: 500;
   font-size: 17px;
   padding: .5rem 0;
   border-radius: 5px;
   cursor: pointer;
   transition: all 300ms ease;
 }

 section.register-container .form-wrapper form .form-group button:hover {
  background-color: rgb(6, 79, 143);
 }

 section.register-container .form-wrapper form .has-an-account {
   text-align: center;
   color: #333;
   font-size: 15px;
 }

 section.register-container .form-wrapper form .has-an-account a{
   color: rgb(28, 76, 180);
   text-decoration: none;
 }

 section.register-container .form-wrapper form .has-an-account a:hover{
   text-decoration: underline;
   color: rgb(13, 49, 128);
 }

 section.register-container .form-wrapper form .form-group .invalid-feedback {
   color: #ff3838;
   font-size: 15px;
   margin-top: 6px;
 }


 /* End Of Section register page */

 /* Start rs Rujukan COVID 19  */
 .container-hero-rs-rujukan{
   width: 100%;
   background-color:white;
   height: 400px;
 }
 .container-