 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /* Utilities */
 .container {
   width: 100%;
   padding-right: 3rem;
   padding-left: 3rem;
   margin-right: auto;
   margin-left: auto;
 }

 .container-small {
  width: 100%;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-right: auto;
  margin-left: auto;
}

 .Poppins {
   font-family: 'Poppins', sans-serif;
 }

 .Lato {
   font-family: 'Lato', sans-serif;
 }

 .Roboto {
   font-family: 'Roboto', sans-serif;
 }

 .Nunito-sans {
   font-family: 'Nunito Sans', sans-serif;
 }

 .bg-white {
   background-color: white !important;
 }

 .d-none {
   display: none;
 }

 .sidebar-none {

 }

 body {
   color: #000;
 }
 
 /* Navbar & Sidebar */

 nav.navbar {
   width: 100%;
   height: 10vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #01062E;
   display: flex;
   align-items: center;
 }

 nav.navbar .nav-wrapper {
   display: flex;
 }

 nav.navbar .nav-wrapper .logo {
   flex: 1;
   display: flex;
   align-items: center;
 }

 nav.navbar .nav-wrapper .logo h3{
   color: #fff;
   font-weight: 700;
   font-size: 24px;
 }

 nav.navbar .nav-wrapper .logo span{
   width: 10px;
   height: 10px;
   background-color: #FE4F63;
   border-radius: 100%;
   margin-left: 7px;
   margin-top: 10px;
 }

 nav.navbar .nav-wrapper ul.nav-list {
   display: flex;
   flex: 3;
   list-style: none;
   align-items: center;
   justify-content: center;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link {
   margin: 0 25px;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link:first-child {
   margin-left: 0;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link:last-child {
   margin-right: 0;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link a{
   color: #eee;
   font-size: 15px;
   text-decoration: none;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link.nav-active a{
   color: #65FFD5;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link a.sign-in-button{
   padding: 8px 28px;
   background-color: #3A6EFF;
   border-radius: 6px;
 }

 nav.navbar .nav-wrapper ul.nav-list li.nav-link a.sign-up-button{
    padding: 8px 28px;
    background-color: #FF4E62;
    border-radius: 6px;
 }

 @media screen and (max-width: 768px) {
  nav.navbar {
    flex-direction: column;
    justify-content: center;
  }

  nav.navbar .nav-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav.navbar .nav-wrapper .logo {
    justify-content: center;
  }

  nav.navbar .nav-wrapper ul.nav-list {
    display: flex;
    flex: 3;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .hamburger {
    cursor: pointer;
    flex: 1;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1.1rem;
    margin-left: 1rem;
  }

  .hamburger .stick{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    border-radius: 10px;
    z-index: 999;
    background-color: black;
  }

  .sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.407);
  }

  .sidebar .sidebar-wrapper{
    width: 75%;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
  }

  .sidebar .sidebar-wrapper .sidebar-header{
    display: flex;
    align-items: center;
    padding: 1rem 1.3rem;
  }

  .sidebar .sidebar-wrapper .sidebar-header .logo {
    flex: 2.5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar .sidebar-wrapper .sidebar-header .logo h3{
    color: #01062E;
    font-weight: 700;
    font-size: 24px;
  }

  .sidebar .sidebar-wrapper .sidebar-header .logo span {
    width: 10px;
    height: 10px;
    background-color: #FE4F63;
    border-radius: 100%;
    margin-left: 7px;
    margin-top: 10px;
  }

  .sidebar .sidebar-wrapper .sidebar-line {
    width: 75%;
    height: 2.2px;
    background-color: #ccc;
  }

  .sidebar .sidebar-wrapper .sidebar-list {
    padding: 1rem 1.3rem .5rem;
    list-style: none;
  }

  .sidebar .sidebar-wrapper .sidebar-list .sidebar-link {
    margin: 18px 0;
  }

  .sidebar .sidebar-wrapper .sidebar-list .sidebar-link a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
  }

  .sidebar .sidebar-wrapper .sidebar-list .sidebar-link.small-sidebar-link {
    margin: 10px 0;
  }

  .sidebar .sidebar-wrapper .sidebar-list .sidebar-link.small-sidebar-link a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5px;
  }
 }

 @keyframes sidebarOpen {
  0% {
    margin-left: -100%;
  }

  100% {
    margin-left: 0;
  }
 }

 @keyframes sidebarClose {
  100% {
    margin-left: -100%;
  }
 }

 .sidebar-open {
    animation: sidebarOpen 500ms ease forwards;
 }

 .sidebar-close {
    animation: sidebarClose 500ms ease forwards;
 }

 /* End Of Navbar & Sidebar*/



 
 /* Section Hero Home */
 section.hero-home {
   width: 100%;
   height: 100vh;
   background-image: url('./../images/bg-hero-home.jpg');
   background-position: bottom center;
   background-size: cover;
   background-repeat: no-repeat;
 }

 section.hero-home .hero-home-wrapper{
   display: flex;
   align-items: center;
 }

 section.hero-home .hero-home-wrapper .title{
   flex: 1;
 }

 section.hero-home .hero-home-wrapper .title h1{
   font-size: 50px;
   font-weight: 700;
   color: #fff;
   line-height: 4rem;
   margin-bottom: 1.5rem;
 }

 section.hero-home .hero-home-wrapper .title p{
   font-size: 19px;
   color: #fff;
   font-weight: 400;
   line-height: 1.6rem;
   margin-bottom: 4.5rem;
 }

 section.hero-home .hero-home-wrapper .title a.more-information{
   background-color: #FE4F63;
   color: #fff;
   font-size: 22;
   font-weight: 600;
   text-decoration: none;
   padding: 20px 50px;
   border-radius: 40px;
 }


 section.hero-home .hero-home-wrapper .hero-image{
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 section.hero-home .hero-home-wrapper .hero-image img{
   width: 100%;
 }


 @media screen and (max-width: 768px) {
  
  section.hero-home .hero-home-wrapper{
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  section.hero-home .hero-home-wrapper .title {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 
  section.hero-home .hero-home-wrapper .title h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  section.hero-home .hero-home-wrapper .title h1 span{
    display: block;
    font-size: 55px;
    font-weight: 700;
  }
 
  section.hero-home .hero-home-wrapper .title p{
    font-size: 15px;
    line-height: 1.35rem;
    margin-bottom: 2rem;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
  }
 
  section.hero-home .hero-home-wrapper .title a.more-information{
    background-color: #FE4F63;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 17px 40px;
    border-radius: 40px;
    width: 60%;
    text-align: center;
  }
 
  section.hero-home .hero-home-wrapper .hero-image{
    padding: 1.5rem 0 .4rem;
  }
 
  section.hero-home .hero-home-wrapper .hero-image img{
    width: 90%;
  }
 }

 /* End Of Section Hero Home */



 /* Section Home Small Card */
 .home-ask-information .home-ask-information-wrapper {
    display: flex;
    flex-direction: column;
 }

 .home-ask-information .home-ask-information-wrapper .card{
    display: flex;
    flex-direction: row;
    margin: .7rem 0;
    border-radius: 40px;
    padding: 1rem 4rem;
 }

 .home-ask-information .home-ask-information-wrapper .card:first-child{
    background-color: #4274FF;
 }

 .home-ask-information .home-ask-information-wrapper .card:last-child{
    background-color: #FF4E62;
    flex-direction: row-reverse;
 }

 .home-ask-information .home-ask-information-wrapper .card .illustration{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .home-ask-information .home-ask-information-wrapper .card .illustration img{
    width: 80%;
 }

 .home-ask-information .home-ask-information-wrapper .card .text{
    padding: 1rem;
    flex: 5;
    color: #eee;
 }

 .home-ask-information .home-ask-information-wrapper .card .text h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 2.8rem;
 }

 .home-ask-information .home-ask-information-wrapper .card .text p{
    font-size: 24px;
 }

 .home-ask-information .home-ask-information-wrapper .card .text a{
    font-size: 19px;
    background-color: #4274FF;
    color: #fff;
    text-decoration: none;
    padding: 13px 38px;
    border-radius: 10px;
 }

 @media screen and (max-width: 768px) {
  .home-ask-information .home-ask-information-wrapper .card{
    display: flex;
    flex-direction: row;
    margin: .7rem 0;
    border-radius: 40px;
    padding: 1rem 4rem;

    border-radius: 20px;
    padding: .25rem .5rem;
    margin: .46rem 0;
 }

 .home-ask-information .home-ask-information-wrapper .card:first-child{
    background-color: #4274FF;
 }

 .home-ask-information .home-ask-information-wrapper .card:last-child{
    background-color: #FF4E62;
    flex-direction: row-reverse;
 }

 .home-ask-information .home-ask-information-wrapper .card .illustration{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .home-ask-information .home-ask-information-wrapper .card .illustration img{
    width: 80%;
 }

 .home-ask-information .home-ask-information-wrapper .card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    flex: 5;
    color: #eee;
 }

 .home-ask-information .home-ask-information-wrapper .card .text h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 2.8rem;

    font-size: 13px;
    line-height: 1.3rem;
    margin-bottom: .35rem;
 }

 .home-ask-information .home-ask-information-wrapper .card .text p{
    font-size: 12px;
    text-align: left;
 }

 .home-ask-information .home-ask-information-wrapper .card .text a{
    font-size: 11px;
    background-color: #4274FF;
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    border-radius: 5px;
    margin-top: .8rem;
 }
 }
 /* End of Section Small Card */